/* -------------------------------------------------- basid HTML */

	html,body{
		width:100%;
		height:100%;
		padding:0;
		margin:0;
		border-collapse:collapse;
		border:0;
	}

	html{
		background: url(images/wallpaper-1114706.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

/* -------------------------------------------------- comments */

	#logo img{
		width:100%;
	}

	#ombreg,#ombred,#ombreh,#ombreb{
		position:fixed;
	}

	#ombreh,#ombreb{
		width:100%;
	}

	#contenu{
		height:100%;
	}

	#scroller{
		height:100%;
		background-color:#fff;
		position:relative;
	}

	#scroller img{
		width:10px;
		display:block;
		background-color:#fff;
	}

	#haut{
	}

#haut{
	}
	
	#masque-haut{
		background-color:#000;
		position:fixed;
		top:0px;
		width:100%;
	}

	#masque-bas{
		background-color:#000;
		position:fixed;
		bottom:0px;
		width:100%;
	}

	#logo{
		position:fixed;
	}

	#menu{
		font-family:Abel;
		text-align:right;
		position:fixed;
	}

#menu a:link,#menu a:visited{
		text-transform:uppercase;
		display:block;
		text-decoration:none;
		color:#000;
		padding:1px;
	}

#menu a:hover{
		padding:0px;
		border:1px dotted #000;
	}

	#contact{
		font-family:Abel;
		position:fixed;
	}

	#contact:link,#contact:visited{
		color:#000;
		text-decoration:none;
		padding:1px;
	}


	#contact:hover{
		padding:0px;
		border:1px dotted #000;
	}


	#contact:active{
	}

/* -------------------------------------------------- fin */
